// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* #### 変数 #### */
$post_bg_color: #cac8c8;

/* #### 新規、編集投稿スタイル #### */
@mixin post-margin {
  margin: 30px 0 0 40px;
}
.post-container {
  border: 4px outset $post_bg_color;
  border-radius: 1rem;
  h3 {
    margin-bottom: 10px;
  }
  .post-title {
    @include post-margin;
  }
  .post-content {
    @include post-margin;
  }
  .recommendation {
    @include post-margin;
  }
  .submit {
    margin: 40px 0 30px;
    text-align: center;
  }
}

/* #### 一覧表示ページ #### */
.index-post {
  background-color: $post_bg_color;
  .post-header {
    display: flex;
    a {
      display: inline-block;
      margin-top: 16px;
    }
  }
  .index-show {
    text-align: right;
    a {
      display: inline-block;
    }
  }
}

/* #### 詳細表示ページ #### */
.show-container {
  background-color: $post_bg_color;
  .edit-path {
    text-align: right;
    margin-right: 40px;
    a {
      display: inline-block;
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  div {
    margin-left: 40px;
  }
  .show-title {
    display: flex;
    justify-content: space-between;
    p {
      margin-right: 40px;
    }
  }
}
